<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>COVID tracker</title>
    <link rel="shortcut icon" type="image/jpg" href="./../media/icon.svg"/>
    <style>
        
        /* width */
        ::-webkit-scrollbar {
        width: 3px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: rgb(5, 13, 31);
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: #ffffff;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #eeee;
        }

        #bg {
        /* The image used */
        background-image: url("./../media/bg.jpg");

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        }

        input[type="text"]
        {
            background: transparent;
            
        }

    </style>
</head>
<body class="h-screen" id="bg">
    <div class="bg-gray-900 bg-opacity-75 ">


        {{>nav }}

        {{>search }}

        <!-- info -->
        <div class="p-5 text-white lg:w-2/3 w-full px-10 mx-auto font-bold">
            <h1 class="text-center rounded-sm text-2xl md:text-3xl lg:text-3xl bg-green-500 p-4  text-white">Info</h1>
            <div class="lg:p-6 md:py-6 sm:py-6 py-6 lg:flex md:flex-none justify-center">
                <table class="lg:w-3/6 w-full">
                    <tr class="border-b-2">
                        <th class="float-left text-lg my-2">Country :</th>
                        <td class="text-yellow-300 font-bold capitalize text-lg ">
                            <img src="{{flag}}" class="mx-1 h-5 inline-block">
                            <span class="inline-block align-middle">{{name}}</span>
                        </td>
                    </tr>
                    <tr class="border-b-2">
                        <th class="float-left text-lg my-2">Population :</th>
                        <td class="font-bold">{{popu}}</td>
                    </tr>      
                </table>
                <table class="lg:w-3/6 w-full">
                    <tr class="border-b-2">
                        <th class="float-left text-lg my-2">Abbreviation :</th>
                        <td class="text-yellow-300 font-bold capitalize text-lg">{{abbr}}</td>
                    </tr>
                    <tr class="border-b-2">
                        <th class="float-left text-lg my-2">Continent : </th>
                        <td class="font-bold">{{cont}}</td>  
                    </tr>       
                </table>
            </div>    
        </div>

        <!-- Total Statistics -->
        <div class="text-white mx-auto">
            <div class="mx-auto lg:w-2/3 w-full px-10 p-4 ">
                <h1 class="text-center rounded-sm bg-green-500 p-4 text-2xl md:text-3xl lg:text-3xl font-bold text-white">total Statistics</h1>
            </div>
            <div class="lg:flex md:flex-wrap sm:flex-none sm:px-10 justify-center p-4">
                <div class="border-2 border-yellow-300 m-3 rounded-sm">
                    <h3 class="pt-2 pl-2 mr-20">Confirmed</h3>
                    <h1 class="px-10 py-16 text-5xl font-bold text-yellow-300 sm:text-center">{{conf}}</h1>
                </div>
                <div class="border-2 m-3 rounded-sm">
                    <h3 class="pt-2 pl-2 mr-20">Recoverd</h3>
                    <h1 class="px-10 py-16 text-5xl font-bold sm:text-center">{{reco}}</h1>
                </div>
                <div class="border-2 border-red-500 m-3 rounded-sm">
                    <h3 class="pt-2 pl-2 mr-20">Deaths</h3>
                    <h1 class="px-10 py-16 text-5xl font-bold text-red-500 sm:text-center">{{dead}}</h1>
                </div>
                <div class="border-2 border-green-500 m-3 rounded-sm">
                    <h3 class="pt-2 pl-2 mr-20">Active</h3>
                    <h1 class="px-10 py-16 text-5xl font-bold text-green-500 sm:text-center">{{acti}}</h1>
                </div>
            </div>
        </div>

        <!-- Current Statistics -->
        <div class="p-5 text-white lg:w-2/3 w-full px-10 mx-auto">
            <h1 class="text-center rounded-sm bg-green-500 p-4 font-bold text-2xl md:text-3xl lg:text-3xl text-white">current Statistics</h1>
            <div class="lg:p-6 md:py-6 sm:py-6 py-6 lg:flex md:flex-none justify-center">
                <table class="lg:w-3/6 w-full">
                    <tr class="border-b-2">
                        <th class="float-left text-lg my-2">new Cases :</th>
                        <td class="text-yellow-300 font-bold capitalize text-lg">{{ncas}}</td>
                    </tr>   
                    <tr class="border-b-2">
                        <th class="float-left text-lg my-2">today Recoverd :</th>
                        <td class="text-green-500 font-bold capitalize text-lg">{{nrec}}</td>
                    </tr> 
                    <tr class="border-b-2">
                        <th class="float-left text-lg my-2">today Deaths :</th>
                        <td class="text-red-500 font-bold capitalize text-lg">{{nded}}</td>
                    </tr>  
                </table>
            </div>    
        </div>
        
        {{>foo}}

    </div>
    
</body>
</html>